@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap');
:root {
  --nav-shad: rgba(0, 0, 0, 0.6);
  --btn-color: #ff2291;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  
  font-family: 'Readex Pro', sans-serif;
  
  background-color: rgb(240 240 240);
}

header {
  position: relative;
  
  background-color: #fff;
  box-shadow: 0 1px 10px rgb(0 0 0 / .255);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  max-width: 1200px;
  margin: auto;
  padding: 1.25em 12.5%;
}

.logo {
  width: 40px;
}

#toggle {
  display: none;
}

#toggle:checked ~ .menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em 0;
}

#toggle:checked + label > .burger-icon {
  display: none;
}

#toggle:checked + label > .exit-icon {
  display: inline;
}

.burger-icon {
  width: 25px;
  height: 25px;
}

.exit-icon {
  display: none;
  
  width: 20px;
  height: 20px;
  
  overflow: visible;
  stroke: black; 
  stroke-width: 10px;
}

.menu {
  position: absolute;
  inset: 100% 0 auto 0;
  
  display: none;
  
  padding: 1em 0;
  border-top: 1px solid rgb(0 0 0 / .1);
  
  background-color: #fff;
  box-shadow: 0 1px 1px rgb(0 0 0 / .255);
}

.menu-link {  
  text-decoration: none;
  
  color: rgb(0 0 0 / .8);
}

.featured {
  padding: .25em 1.5em;
  
  color: white;
  background-color: rgb(0 0 0 / .8);
  border-radius: 1em;
}

@media (min-width: 750px) {
  label {
    display: none;
  }
  
  .menu {
    position: static;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 1em;
    
    padding: 0;
    border: none;
    
    box-shadow: none;
  }
  
  .container {
    width: 80%;
    padding: 1.25em 0;
  }
}

/* ========================================================================== */



/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #f2f2f2;

}

.wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}


/*------------------------------------------------------------------
[  ]*/

.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}

.insta100-pic {
  width: 50px;
}

.insta100-pic img {
  max-width: 40%;
}


/*------------------------------------------------------------------
[  ]*/

.login100-form {
  width: 290px;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/

.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/

.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.8);
}

.input100:focus+.focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus+.focus-input100+.symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}


/*------------------------------------------------------------------
[ Button ]*/

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 992px) {
  .wrap-login100 {
      padding: 177px 90px 33px 85px;
  }
  .login100-pic {
      width: 35%;
  }
  .insta100-pic {
      width: 3%;
  }
  .login100-form {
      width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
      padding: 100px 80px 33px 80px;
  }
  .login100-pic {
      display: none;
  }
  .insta100-pic {
      display: none;
  }
  .login100-form {
      width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
      padding: 100px 15px 33px 15px;
  }
}

/* ////////////////////////////////// Slider \\\\\\\\\\\\\\\\\\\\\\\\\*/


label {
  display: none;
  cursor: pointer;
}
.im.im-code {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.im.im-code:hover {
  color: var(--btn-color);
}

#checkbox {
  display: none;
}

.menu {
  list-style: none;
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-family: poppins;
}

nav ul li a:hover {
  border-bottom: solid var(--btn-color);
  padding: 1px 0;
  animation: border-animation 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
}

@keyframes border-animation {
  0% 100% {
    border-width: 2px;
  }
}

.header {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  z-index: 2;
}

.header h1 {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 40px;
  border-radius: 10px;
}

.header p {
  font-size: 15px;
  font-family: poppins;
  color: white;
  text-align: center;
  width: 45%;
}

.header button {
  background-color: var(--btn-color);
  border: 2px;
  width: 15%;
  height: 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.header button:active {
  transform: scale(1.1);
}

.slider {
  overflow: hidden;
  position: relative;
}
.slider figure {
  position: relative;
  height: 100%;
  width: 500%;
  margin: 0;
  left: 0;
  animation: slider 10s infinite ease-in-out;
}

.slider figure img {
  width: 20%;
  float: left;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  90% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
  #menuicon {
    display: block;
    color: white;
    margin-left: auto;
    margin-right: 30px;
  }
  #menuicon:hover {
    color: var(--btn-color);
  }

  #checkbox:checked + .menu {
    height: 60px;
    width: 100%;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 60px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-shad);
  }
